.navbar-item:hover {
  text-decoration: underline;
  text-decoration-color: #6495ed;
}

.navigation {
  font-size: 25px;
}

/* HomePage.css */
.building-header-container {
  background-image: url("/public/images/building.jpg");
}
.header-container {
  background-image: url("/public/images/intro-image_resized.jpg");
}

.header-container,
.building-header-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f0f0f0;
  min-height: 773px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-blue {
  color: #6495ed;
}
.background-blue {
  background-color: #6495ed;
}
.card-image {
  width: 100px;
  height: 180px;
}

footer {
  background-color: #6495ed;
  margin-top: 20px;
}
.categorie-image {
  max-width: 500px; /* Set the maximum width */
  width: 100%; /* Allow the image to take up the full width of its container */
  height: auto; /* Allow the height to adjust proportionally */
  max-height: 500px; /* Set a maximum height */
}

hr.hr {
  border: none; /* remove default border */
  border-top: 5px dotted black; /* add a 2px dotted border on top */
  margin: 20px 0; /* add some vertical margin for spacing */
  height: 10px; /* set the height */
}

.about-image {
  max-height: 300px;
  max-width: 300px;
}

h2 {
  color: #6495ed;
}
main {
  min-height: 100vh;
}
.contact-image {
  background-image: url("/public/images/pointing.jpg");
}
